<div class="container">
  <h3>Category List</h3>
  <button type="button" style="float: right;" class="btn btn-warning" data-bs-toggle="modal"
      data-bs-target="#addCategory">
      + Add Category
    </button>
  <form>
    <input type="text" class="form-control me-2" placeholder="Search for category..." style="width: 250px; height: 40px; float: right;" [(ngModel)]="searchTerm"
    name="searchCategory" id="searchCategory" (input)="filterCategories()" />
  </form>
  <br><br>

  <table *ngIf="filteredCategoryList.length; else noCategories" class="product-table">
    <thead class="text-center">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of filteredCategoryList" class="border-top border-bottom ">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
       
        <td>
          <a class="btn text-body-secondary" data-bs-toggle="modal" (click)="edit(category)" data-bs-target="#editCategory">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
              </path>
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z">
              </path>
            </svg>
          </a>
        </td>
        <td>
          <a (click)="delete(category.id)" class="btn text-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill"
              viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5">
              </path>
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noCategories>
    <p>No categories available.</p>
  </ng-template>


  <!-- Modal para adicionar Coupon -->
  <div class="modal fade" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryLabel">Add New Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <label for="code" class="mt-2">Category Name:</label>
          <input type="text" id="code" class="form-control" placeholder="Category Name" [(ngModel)]="newCategory.name"
            required #nameInput="ngModel" />

          <div *ngIf="nameInput.invalid && nameInput.touched" class="text-danger">
            Name is required!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
          <button type="button" class="btn btn-warning" (click)="insert()" data-bs-dismiss="modal"
            [disabled]="nameInput.invalid">Add
            Category</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para editar Category -->
  <div class="modal fade" id="editCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCategoryLabel">Edit Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <label for="code" class="mt-2">Category Name:</label>
          <input type="text" id="code" class="form-control" placeholder="Category Name" [(ngModel)]="selectedCategory.name"
            required #nameEdit="ngModel" />

          <div *ngIf="nameEdit.invalid && nameEdit.touched" class="text-danger">
            Name is required!
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
          <button type="button" class="btn btn-warning" (click)="updateCategory()" data-bs-dismiss="modal" [disabled]="nameEdit.invalid">Edit</button>
        </div>
      </div>
    </div>
  </div>