<div class="form-wrapper">
  <form class="form-container">
    <h1 class="h3 mb-3 fw-normal">Sign-up</h1>
    <div class="row">
      <div class="col-md-6">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name" value="Mark" required>
      </div>
      <div class="col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" value="Otto" required>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" required>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" required>
      </div>
      <div class="col-md-3">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" placeholder="State" required>
      </div>
      <div class="col-md-3">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" placeholder="Zip" required>
      </div>
    </div>

    <div class="form-group form-check mt-3">
      <input type="checkbox" class="form-check-input" id="terms" required>
      <label class="form-check-label" for="terms">Agree to terms and conditions</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>
