<div class="d-flex gap-2 justify-content-center py-2 gap-2 border-top">
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Cheaper</span>
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Category2</span>
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Dark</span>
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Dark</span>
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Dark</span>
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Dark</span>
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Dark</span>
  <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Dark</span>
</div>
